<ion-header>
    <ion-toolbar>
        <ion-title>addgoals</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="primary">
        <ion-card-header>Goal-1</ion-card-header>
        <ion-card-content>
            <ion-input placeholder="Add goal here"></ion-input>
        </ion-card-content>
    </ion-card>



    <div class="">
        <ul class="timeline">
            <li>
                <div class="timeline-thumb bg-color-pink">

                </div>
                <div class="timeline-item">
                    <ion-card>
                        <ion-card-content>
                            Tactic one
                        </ion-card-content>
                    </ion-card>
                </div>
            </li>
            <li>
                <div class="timeline-thumb bg-color-pink">

                </div>
                <div class="timeline-item">
                    <ion-card>
                        <ion-card-header>Tactic 2</ion-card-header>
                        <ion-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</ion-card-content>

                    </ion-card>
                </div>
            </li>
            <li>
                <div class="timeline-thumb bg-color-pink">

                </div>
                <div class="timeline-item">
                    <ion-card>
                        <ion-card-header>Tactic 3</ion-card-header>
                        <ion-card-content>Tactic three description</ion-card-content>
                        <div class="timeline-stats">
                            <ion-icon name="heart"></ion-icon> 2,450
                            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
                        </div>
                    </ion-card>
                </div>
            </li>
        </ul>

    </div>


</ion-content>