<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Arapey:400,400i,600|Open+Sans:300" rel="stylesheet">
    </head>

    <body>
        <div class="timeline">
            <div class="events">
                <ol>
                    <ul>
                        <li>
                            <a href="#0" class="selected">week-1</a>
                        </li>
                        <li>
                            <a href="#1">week-2</a>
                        </li>
                        <li>
                            <a href="#2">week-3</a>
                        </li>
                        <li>
                            <a href="#3">week-4</a>
                        </li>
                    </ul>
                </ol>
            </div>
        </div>

        <div class="events-content">
            <ol>
                <li id="0" class="selected">
                    <h2>week-1 &amp; Score</h2>
                    <p>scorecard</p>
                </li>

                <li id="1">
                    <h2>week-2</h2>
                    <p>new york times</p>
                </li>

                <li id="2">
                    <h2>week-3</h2>
                    <p>here</p>
                </li>

                <li id="3">
                    <h2>week-4</h2>
                    <p>after</p>
                </li>
            </ol>
        </div>
    </body>


</ion-content>