<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Arapey:400,400i,600|Open+Sans:300" rel="stylesheet">
    </head>

    <body>
        <div class="timeline">
            <div class="events">
                <ol>
                    <ul>
                        <li>
                            <a href="#0" class="selected">Early Life</a>
                        </li>
                        <li>
                            <a href="#1">Career</a>
                        </li>
                        <li>
                            <a href="#2">Philosophy</a>
                        </li>
                        <li>
                            <a href="#3">Legacy</a>
                        </li>
                    </ul>
                </ol>
            </div>
        </div>

        <div class="events-content">
            <ol>
                <li id="0" class="selected">
                    <h2>Early Life &amp; Education</h2>
                    <p>hello world</p>
                </li>

                <li id="1">
                    <h2>Career</h2>
                    <p>new york times</p>
                </li>

                <li id="2">
                    <h2>Philosophy</h2>
                    <p>here</p>
                </li>

                <li id="3">
                    <h2>Legacy</h2>
                    <p>after</p>
                </li>
            </ol>
        </div>
    </body>


</ion-content>